POSTGRES_HOST_PORT=5432
ODOO_HOST_PORT=8069

KITCHEN_PG_USER=test_user
KITCHEN_PG_PASSWORD=test_password
KITCHEN_PG_DB=test_db
KITCHEN_PG_WIPE_DATA=true

ODOO_DB_HOST=db
ODOO_DB_PORT=5432
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=odoo_db_pass

ODOO_BASE_URL=http://localhost:8069/jsonrpc
ODOO_DB=hyve_kitchen
ODOO_USERNAME=test_recipe_user@example.com
ODOO_PASSWORD=change-me

TEST_FACE_HASH=
